[package]
name = "mcp_server_atexplore"
version = "0.1.0"
edition = "2024"
publish = false
license = "Apache-2.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
serde = "1.0"
schemars = "1.1.0"
zed_extension_api = "0.7.0"
